<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Authentication:DefaultCredentials:Username" value="__Authentication-DefaultCredentials-Username__" />
    <add key="Authentication:DefaultCredentials:Password" value="__Authentication-DefaultCredentials-Password__" />
    <add key="Logging:LogLevel:Default" value="__Logging-LogLevel-Default__" />
    <add key="Application:Domain" value="__Application-Domain__" />
    <add key="Application:UseSSL" value="__Application-UseSSL__" />
    <add key="HTTPS:Binding:Domain" value="__HTTPS-Binding-Domain__" />
  </appSettings>

  <system.webServer>
    <handlers>
      <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
    </handlers>

    <aspNetCore processPath="dotnet" arguments=".\YourApp.dll" stdoutLogEnabled="false" stdoutLogFile=".\logs\stdout" hostingModel="inprocess">
      <environmentVariables>
        <add name="ASPNETCORE_ENVIRONMENT" value="__ASPNETCORE-ENVIRONMENT__" />
      </environmentVariables>
    </aspNetCore>
  </system.webServer>
</configuration>
